<<<<<<< HEAD

footer {
    background-color: var(--color-primary-2);
=======
.footer {
    background-color: #fff9ea;
    height: 200px;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 125px;
}

.contatos, .social {
    display: flex;
    flex-direction: column;
}

.contatos a, .social a {
    text-decoration: none;
    color: black;
    display: flex; 
    margin-bottom: 10px;
}

.social i, .contatos i {
    margin-right: 8px;
    font-size: 20px;
}

.contatos p, .social p {
    font-size: x-large;
    margin-bottom: 15px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
    color: black;
}

.social{
    margin-left: 200px;
}

.contatos{
    margin-left: 150px;
>>>>>>> d7ea84f5b42c1979f5165f02f441c343b25fe4c8
}

#footer_items {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: var(--color-neutral-1);;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_items {
        flex-direction: column;
        gap: 20px;
    }
}