header {
    padding-top: 140px;
}

.cabecalho{

margin-left: 100px;

}

.filtro{
    margin-top: 20px;
    margin-left: 100px;
    width: 200px;
}

.filtro a{
    text-decoration: none;
}

#maisvendidos{
    border: 1px solid black;
}

.filtro h3{
    padding-bottom: 15px;
}

.maisvendidos p{
    border: 1px solid grey;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.categorias h3{
    padding-top: 25px;
    padding-bottom: 15px;
}

.categorias ul li, .filtroborda ul li{
    list-style: none;
    color: black;
    padding-bottom: 10px;
}

.categorias a{
    color:  black;
}

.filtroborda h3{
    padding-top: 15px;
}

.todosfiltros{
    padding-right: 150px;
    float: left;
}

.catalogo{
    box-shadow: 0px 0px 1px 1px black;
    margin-right: 50px;
    float: right;
}
