.navbar {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: #fff9ea;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #ffe092;
}

.logo {
    flex-basis: 20%;
    text-align: center;
}

.buscador {
    flex-basis: 50%;
    text-align: center;
    padding-left: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 10px;
}

#buscadorInput {
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 90%;
    outline: none;
}

input::placeholder {
    color: #ffcb45;
    font-size: 15px;
}

input {
    color: #ffcb45;
}

.buscador label {
    height: 20px;
}

.menu {
    flex-basis: 30%;
    text-align: right;
    padding-right: 100px;
}

.menu a {
    padding: 40px;
}

.segundoMenu {
    padding: 20px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #fff9ea;
    width: 100%;
    position: fixed;
    z-index: 999;
}

.segundoMenu a {
    text-decoration: none;
    color: #ffcb45;
    padding: 20px;
    font-size: 18px;
}